<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings> 
    <!--<add name="Sys.DbConnection" providerName="System.Data.SqlClient"
             connectionString="server=127.0.0.1;uid=sa;pwd=123;database=score"/>-->
    <add name="Business.DbConnection" providerName="System.Data.SqlClient"
		   connectionString="server=127.0.0.1;uid=sa;pwd=123;database=BooksManagement"/>

	  <!--<add name="Business.DbConnection" providerName="System.Data.SqlClient"
		  connectionString="server=10.114.228.59;uid=booksmanagement;pwd=booksmanagement;database=BooksManagement"/>-->

  </connectionStrings>

  <appSettings>

    <!--<add key="dbname" value="bpmef"/>
    <add key="host" value=""/>-->
    <!--数据库连接字符串加密-->
    <add key="useEncrypt" value="false"/>
  </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
